{{set . "title" "Language"}}
{{template "header.html" .}}

<header>
  <div class="container">
    <div class="row">
        <h2>All Languages</h2>      
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>


<p></p>

<div class="container well">
<table class="table">
	<thead>
		<tr>
			<th>#</th>
			<th>Name</th>
			
			<th>Active</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		{{range .languages}}
		<tr>
			<td>{{ .Id }}</td>
			<td>{{ .Name }}
				<span>{{ .Description }}</span>
			</td>
			<td>{{if .IsActive}} Yes {{else}} No {{end}} </td>
			<td>
				<a href="{{url `language.Edit` .Id}}">Edit</a> | 
				<a href="">Delete</a>
			</td>
		</tr>
		{{end}}
	</tbody>
</table>

{{pager "languages" .count 10 .page }}

</div>



{{template "footer.html" .}}
