{{set . "title" "Language"}}
{{template "header.html" .}}

<header>
  <div class="container">
    <div class="row">
        <h2>
		{{if eq .action "Edit"}} Edit Language {{else}} Add a Language {{end}}
		</h2>       
    </div>
  </div>
</header>

<p></p>

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>



<div class="container well">
	<form role="form" action="/language/{{if eq .action `Edit`}}UpdateLanguage{{else}}AddLanguage{{end}}" method="POST">
		<legend>Language Details</legend>
		
		{{with $field := field "language.Id" .}}
			<input type="hidden" value="{{$field.Value}}" name="{{$field.Name}}" id="{{$field.Name}}" />
		{{end}}
		
		
		{{with $field := field "language.Name" .}}
			
    		<div class="form-group {{$field.ErrorClass}}">
    			<label for="{{$field.Name}}">Name</label> *
    			<input type="text" class="form-control" id="{{$field.Name}}" name="{{$field.Name}}" size="16" value="{{$field.Flash}}"  placeholder="Enter language">
    			{{ display_error $field }}
    		</div>
  		{{end}}
		
		{{with $field := field "language.Description" .}}
    		<div class="form-group {{$field.ErrorClass}}">
    			<label for="{{$field.Name}}">Description</label> *
    			<input type="text" class="form-control" id="{{$field.Name}}" name="{{$field.Name}}" size="100" value="{{$field.Flash}}"  placeholder="Enter a Description">
    			{{ display_error $field }}
    		</div>
  		{{end}}
	  
		{{with $field := field "language.IsActive" .}}
	  <div class="checkbox">
	    <label>
	      <input type="checkbox" id="{{$field.Name}}"  name="{{$field.Name}}" {{if eq $field.Flash "true"}}checked{{end}}> Active
	    </label>
	  </div>
		{{end}}
	  <button type="submit" class="btn btn-default">Submit</button>
	</form>
</div>

{{template "footer.html" .}}
